<h1>Dragon Bolseta personajes</h1>
<hr>

<div class="row">
  <div class="col">
    <!-- Aquí vamos a enviar la información al componente hijo (list.component.ts)
     para que éste lo importe -->
     <!-- Ahora que la lista y sus funciones están en el servicio en vez de este componente,
      hay que importarlos debidamente mediante dbzService.loquesea -->
    <dbz-list [characterList]="dbzService.characters" (onDeleteId)="dbzService.deleteCharacterById($event)"></dbz-list>
  </div>

  <div class="col">
    <dbz-add-character (onNewCharacter)="dbzService.onNewCharacter($event)" ></dbz-add-character>
  </div>
</div>
